*.* filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
*.py    text
*.php   text
*.css   text
*.js    text
*.htm   text
*.html  text
*.xml   text
*.txt   text
*.ini   text
*.inc   text
*.gif   binary
*.ico   binary
*.mov   binary
*.mp4   binary
*.mp3   binary
*.flv   binary
*.fla   binary
*.swf   binary
*.gz    binary
*.zip   binary
*.7z    binary
*.ttf   binary

*.py    diff=python
*.md    diff=astextplain
*.png   diff=exif
*.jpg   diff=exif