<!DOCTYPE html >
<html lang="zh-TW">
    <head>
        <meta name="application-name" content="Write's Brain" />
        <meta name="author" content="TCC" />
        <meta name="description" content="OnlineWhiteboard" />
        <meta name="keywords" content="JavaScript, Canvas, Whiteboard, Online" />
        <meta name="revised" content="2016-02-21" />
        <!-- Mobile-friendly viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="zh-tw">
        <meta http-equiv="default-style" content="Main Style">
        <!-- <meta http-equiv="refresh "content="1; url=http://203.64.91.82"> -->
        <meta http-equiv="X-UA-Compatible" content="chrome=1">

        <title>Write's Brain</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel='icon' type='image/png' href="{{ url_for('static', filename='favicon.png') }}">
	</head>
	<body>
		Hi, welcome to Write's Brain!!<br/>
        <i class="fa fa-random"></i> <a href='/b'>隨機房間</a><br/>
		<i class="fa fa-eye"></i> <a href='/b_view/'>隨機房間[唯讀]</a><br/>
        <i class="fa fa-info-circle"></i> <a href='/b_status/'>隨機房間JSON資訊</a><br/>
        <i class="fa fa-github"></i> <a href='https://github.com/TCCinTaiwan/White-Brain'>Github</a>
	</body>
</html>
